﻿body
{
font-family:sans-serif;
}
 



#main
{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    background-color: #efefef;
    padding-bottom: 10%;
    border: 1px solid #d8d8d8;
}

.color
{
font-size:30px;
width:80%;
height:40px;
border-radius:0px;
margin-top:8px;
}

#submit
{
margin-top:30px;
border-radius: 0;
-webkit-appearance: none;
background-color:#a5a5a5;
width: 80%;
    height: 50px;
    font-size: 15px;
}

#inputArea{
margin-top:1.5em;
}

#colors0{
margin-bottom:1.5em;
}

h3{
-webkit-margin-after: 0em;
}

#exp{
font-size: 0.8em;
    font-weight: bold;
    color: #a5a5a5;
}