﻿html{
height:100%;
}



body{
font-family:sans-serif;
background-color: #e9e9e9; 
margin:0;
height:100%;
}

#answer{
    width: 80%;
    height: 30px;
    font-size: 30px;
}

#answerArea{
text-align:center;
}

#num{
    background-color: #FFFFFF;
    font-size: 4.4em;
    text-align: center;
    /*border-bottom: 1px solid #000000;*/
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstClick{
  position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    color: white;
    font-size: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.numberPlates{
    text-align: center;
    font-size: 2em;
    height:25%;
}

.numbers{
    display: inline-block;
    width: 28%;
    border: 1px solid #000000;
    border-top:0px;
    margin-bottom:3%;
    background-color: #cbcbcb;
}

#plate{
    border-top: 0px;
    height: 66%;
    background-color: #e9e9e9;
    /*padding-top: 6%; */
}


#del{
    display: inline-block;
    width: 28%;
    border: 1px solid #000000;
    border-top:0px;
    margin-bottom:3%;
	background-color: #acacac;
}

#enter{
    display: inline-block;
    width: 28%;
    border: 1px solid #000000;
    border-top:0px;
    margin-bottom:3%;
background-color: #acacac;

}

#mainDisp{
height:100%;
}

#forBorder{
height: 0.2%;
    background-color: black;
}

#forSpace{
height: 3.8%;
    background-color:#e9e9e9;
}

#ansDiv{
position: absolute;
    font-size: 0.25em;
    top: 5px;
    left: 5px;
}